/*Author    : Wafa Rifqi Anafin*/
/*Github    : https://github.com/wafarifki*/
/*Facebook  : https://facebook.com/wafarifkianafin*/
/*Instagram : https://instagram.com/wafarifki_*/
/*Website   : https://wafarifki.tk*/

@media (min-width: 300px) and (max-width: 640px) {
    .ml1 {
        margin-top: 45%;
    }

    .kontener2 {
        padding: 10px;
        text-align: center;
        margin-top: 60%;
    }
}